.app {
    /* background-color: blue; */
    height: 800px;
}


.task-list {
    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;

    /*flex*/
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* max-width: 1024px */
}

.task-create {

    width: 50%;
    background-color: aquamarine;
    padding: 3px;
    position: fixed;
    left: 50%;
    margin-left: -25%;
    bottom: 10%;
}

.task-create form {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-evenly;
    box-sizing: border-box;



}

@media (max-width:720px) {
    .task-list {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 20px;
    }
}

.task-show {
    border: 1px solid gray;
    /* flex: 1; */
    width: 300px;
    border-radius: 5px;
    padding: 20px;

}

/* .task-show {
    align-self: flex-start;
    box-shadow: 0 0 4px #c8c8c8;
    position: relative
} */

.task-show h3 {
    font-size: 24px
}









/* .task-show .actions {
    margin-left: 10px;
    position: absolute;
} */


/* .task-show button {
    margin-right: 5px
} */

/* 
.task-show .edit {
    /background-color: hsla(0, 0%, 4%, .2); 
    border: none;
     border-radius: 9999px; 
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    pointer-events: auto;
    position: relative;
    vertical-align: top;
    width: 20px
} 


 .task-show .edit:after {
    color: #fff;
    content: "✎";
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(20deg);
    transform: translateX(-50%) translateY(-50%) rotate(20deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 20px;
    z-index: 10
} */